@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap');

body{
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

/* modify images to fit thier parent container and not overflow */
img { 
    max-width: 100%;
    object-fit: cover;
}

.navbar {
    position: sticky;
    top: 0;
    transform: translate(-1vw,-1vh);
    display: flex;
    flex-flow: column nowrap;
    /* z-index: 999; */
    
}

header#navbar {
    height: 21.5%;
    width:105%;
}

header{
    display: inline-flex;
    background-color: rgba(250, 245, 240, 1);
    width: 100%;
    height: 20%;
    color: #402309;
}

.title{
    margin-top: 0.5vh;
    margin-bottom: 2vh;
    width: fit-content;
    justify-content: center;
    align-self: center;
    font-size: 45px;
}

nav{
    width: fit-content;
    justify-content: center;
    align-self: center;
    font-size: 25px;
}

a{
    color: #402309;
    text-decoration: none;
    margin-right: 25px;
    margin-left: 25px;
}

.line{
    width: 100%;
    background-color: #402309;
    height: 1vh;
    align-content: flex-end;
    margin-top: 0vh;
    z-index: 999;
}

.selected{
    color: #593326;
    font-weight: 1000;
}

.selected:hover, .convenience_nav:hover, .cleaning_nav:hover, .home_nav:hover{
    text-decoration: underline;
}

.opener_img {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    
}

section#opener_img {
    height: 65vh;
    width:100%;
    justify-content: center;
    align-self: center;
}

.content{
    
    display: inline-flex;
    width: 75%;
    height: 100%;
    background-image: url(../img/home/safety_home_enhanced.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-self: center;
    color: white;
    border-radius: 12px;
}

.img_title{
    
    font-size: 37px;
    background-color: hsl(0, 1%, 67%, 0.65);
    border-radius: 12px;
    height: fit-content;
}



.main_content {
    display: flex;
    flex-flow: row wrap;
    margin-top: 70px;
    
}

article#main_content {
    height: 200vh;
    width:100%;
    justify-content: space-between;
    /* align-self: center; */
    color: #402309;

    
}

.section1{
    display: flex;
    /* margin-left: 10vw; */
    width:30%;
    height: 30%;
    background-image: url(../img/safety/Password.jpg);
    background-size: cover;
    background-position: center;


}

.section2{
    width:30%;
    height: 30%;
    background-image: url(../img/safety/voice.jpg);
    background-size: cover;
    background-position: center;
}

.section3{
    width:30%;
    height: 30%;
    background-image: url(../img/safety/fire_alarm.jpg);
    background-size: cover;
    background-position: center;
}

.section4{
    /* margin-left: 10vw; */
    width:30%;
    height: 30%;
    background-image: url(../img/safety/water_sprinkler.jpg);
    background-size: cover;
    background-position: center;
}

.section5{
    width:30%;
    height: 30%;
    background-image: url(../img/safety/water_rats.jpg);
    background-size: cover;
    background-position: center;
    /* margin-right: 10vw; */
}

.section6{
    width:30%;
    height: 30%;
    background-image: url(../img/safety/robots_chem.jpg);
    background-size: cover;
    background-position: center;
}

.section7{
    /* margin-left: 10vw; */
    width:30%;
    height: 30%;
    background-image: url(../img/safety/robot_snakes.jpg);
    background-size: cover;
    background-position: center;
}

.section8{
    width:30%;
    height: 30%;
    background-image: url(../img/safety/curtains.jpg);
    background-size: cover;
    background-position: center;
    /* margin-right: 10vw; */
}

.section9{
    width:30%;
    height: 30%;
    background-image: url(../img/safety/windors_doors.jpg);
    background-size: cover;
    background-position: center;
}

.subsection1{
    display: inline-flex;
    flex-flow: row wrap;
    background-color: rgba(250, 245, 240, .8);
    margin-left: 15%;
    margin-top: 15%;
    height: 65%;
    width: 65%;
    align-content: center;
    justify-content: center;
}

.subsection2{
    display: flex;
   flex-flow: row wrap;
    background-color: rgba(250, 245, 240, .8);
    margin-left: 15%;
    margin-top: 15%;
    height: 65%;
    width: 65%;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.subsection3{
    display: flex;
   flex-flow: row wrap;
    background-color: rgba(250, 245, 240, .8);
    margin-left: 15%;
    margin-top: 15%;
    height: 65%;
    width: 65%;
    justify-items: center;
    align-content: center;
    justify-content: center;
}

.subsection4{
    /* margin-left: 10vw; */
    display: flex;
   flex-flow: row wrap;
    background-color: rgba(250, 245, 240, .8);
    margin-left: 15%;
    margin-top: 15%;
    height: 65%;
    width: 65%;
    justify-items: center;
    align-content: center;
    justify-content: center;}

.subsection5{
    display: flex;
   flex-flow: row wrap;
    background-color: rgba(250, 245, 240, .8);
     margin-left: 15%;
    margin-top: 15%;
    height: 65%;
    width: 65%;
    justify-items: center;
    align-content: center;
    justify-content: center;   /* margin-right: 10vw; */
}

.subsection6{
    display: flex;
   flex-flow: row wrap;
    background-color: rgba(250, 245, 240, .8);
     margin-left: 15%;
    margin-top: 15%;
    height: 65%;
    width: 65%;
    justify-items: center;
    align-content: center;
    justify-content: center;}

.subsection7{
    /* margin-left: 10vw; */
    display: flex;
   flex-flow: row wrap;
    background-color: rgba(250, 245, 240, .8);
     margin-left: 15%;
    margin-top: 15%;
    height: 65%;
    width: 65%;
    justify-items: center;
    align-content: center;
    justify-content: center;
    
}

.subsection8{
    display: flex;
   flex-flow: row wrap;
    background-color: rgba(250, 245, 240, .8);
     margin-left: 15%;
    margin-top: 15%;
    height: 65%;
    width: 65%;
    justify-items: center;
    align-content: center;
    justify-content: center;   /* margin-right: 10vw; */
    
}

.subsection9{
    display: flex;
   flex-flow: row wrap;
    background-color: rgba(250, 245, 240, .8);
     margin-left: 15%;
    margin-top: 15%;
    height: 65%;
    width: 65%;
    justify-items: center;
    align-content: center;
    justify-content: center;
  
}



p{
    width: 18vw;
    height: fit-content;
    margin: 0;
}

h2{
    width: fit-content;
    height: fit-content;
    margin: 0;
    font-size: 37px;
    margin-bottom: 50px;
}


.newsletter{
    display: inline-flex;
    flex-flow: column nowrap;
    margin-top: 10vh;
    margin-bottom: 0;
    
}

section#newsletter{
    height: 82.5vh;
    width:110%;
    background-image: url(../img/Untitled-2.jpg);
    transform: translate(-1vw,1.69vh);
    background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

h5{
    display: inline-flex;
    width: 90%;
    color: white;
    font-size: 50px;
    justify-content: center;
    align-items: center;
    height: 30%;
    margin-bottom: 0;
    margin-right: 12%;
}

h6{
    margin-top: 0;
    display: inline-flex;
    width: 90%;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    margin-right: 12%;
}

.signup{
    font-family: "Kaisei HarunoUmi", serif;
    font-size: 30px;
    justify-content: center;
    align-self: center;
    margin-right: 10%;
    width:10%;
    height:10%;
    border-radius: 2000px;
    color: #69898C;
    opacity: 1;
    transition: border 0.7s;
    /* border: 5px solid #69898C; */
}

.signup:hover{
    color:white;
    background-image: url(../img/Untitled-2.jpg);
    border: 5px solid white;
    animation: stuff 2s
    
}


  /* Standard syntax */
  @keyframes stuff {
    from {opacity: 0.2;}
    to {opacity: 1;}
  }


footer{
    margin-top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    transform: translate(-8px,16px);
    margin-right: 0;
    background-color: #0e273c;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

footer#end {
    height: 25vh;
    width: 110%;
    
}

.nav{
    z-index: 999;
    margin-left: 0.5vw;
    display: flex;
    flex-flow: column wrap;
    align-self: flex-start;
    width: 10%;
    margin-top: 10px;
    justify-content: space-evenly;
    height: 100vh;
}

a.nav_elements{
    cursor: pointer;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.nav_elements:hover{
    text-decoration: underline;
}

.social_links{
    position: absolute;
    display:inline-flex;
    flex-flow: column nowrap;
    height:80%;
    color: white;
    font-size: 30px;
    justify-content: flex-end;
    width: 90%;
    flex-direction: row;
    
}

.subsocial{
    display: inline-flex;
    flex-flow: column wrap;
    width: 25%;
    margin-right: 0vw;
    height: 100%;
}

.us{
    align-self: center;
    margin-bottom: 1vh;
    margin-left: 5vw;
}

.svg{
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    /* margin-right: 4vw; */
    
}

.facebook, .insta, .x, .yt, .git, .share{
    border-radius: 10px;
    transition: opacity 0.5s ease-in-out;
    opacity: 0.5;
}

.facebook:hover, .insta:hover, .x:hover, .yt:hover, .git:hover, .share:hover {
    opacity: 1;
    filter: drop-shadow(0 0 4px rgb(255, 255, 255));
  }

.ending{
    display:flex;
    width:94%;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    color:white;
}

.end:hover{
    cursor: pointer;
    text-decoration: underline;
}

.support{
    position: absolute;
    flex-flow: column wrap;
    display: flex;
    align-self: center;
    justify-items: center;
    height: 100%;
    margin-right: 11.9vw;
    color:white;
    
}
.help{
    display: inline-flex;
    font-size: 25px;
    justify-content: center;
    margin-bottom: 3vh;
}

.extra{
    display: inline-flex;
    cursor: pointer;
    justify-content: space-evenly;
    margin-bottom: 3vh;
}

.extra:hover{
    text-decoration: underline;
}