.section1{
    display: flex;
    /* margin-left: 10vw; */
    width:30%;
    height: 30%;
    background-image: url(../img/safety/Password.png);
    background-size: cover;
    background-position: center;
}

.section2{
    width:30%;
    height: 30%;
    /* margin-right: 10vw; */
    background-image: url(../img/safety/voice.png);
    background-size: cover;
    background-position: center;
}

.section3{
    width:30%;
    height: 30%;
    background-image: url(../img/safety/fire_alarm.png);
    background-size: cover;
    background-position: center;
}

.section4{
    /* margin-left: 10vw; */
    width:30%;
    height: 30%;
    background-image: url(../img/safety/water_sprinkler.png);
    background-size: cover;
    background-position: center;
}

.section5{
    width:30%;
    height: 30%;
    background-image: url(../img/safety/water_rats.png);
    background-size: cover;
    background-position: center;
    /* margin-right: 10vw; */
}

.section6{
    width:30%;
    height: 30%;
    background-image: url(../img/safety/robots_chem.png);
    background-size: cover;
    background-position: center;
}

.section7{
    /* margin-left: 10vw; */
    width:30%;
    height: 30%;
    background-image: url(../img/safety/robot_snakes.png);
    background-size: cover;
    background-position: center;
}

.section8{
    width:30%;
    height: 30%;
    background-image: url(../img/safety/curtains.png);
    background-size: cover;
    background-position: center;
    /* margin-right: 10vw; */
}

.section9{
    width:30%;
    height: 30%;
    background-image: url(../img/safety/windors_doors.png);
    background-size: cover;
    background-position: center;
}